<ion-view view-title="我的地址">
    <ion-content overflow-scroll='false'>
        <div class="weui-cells">
            <a class="item item-icon-left" href="#" style="padding: 25px 25px 25px 65px;">
                <i class="icon ion-happy-outline" style="font-size: 50px;color: #387ef5;"></i>
                <span>ID：Jwer12YK77</span>
            </a>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <i class="icon ion-location"></i>
                </div>
                <div class="weui-cell__bd" style="margin-left: 5px;">
                    <span>常用地址</span>
                </div>
                <div class="weui-cell__ft" ng-click="addAddress()">南京市中山南路122号 <i class="ion ion-plus-circled"></i> </div>
            </div>
        </div>
    </ion-content>
</ion-view>