<style>
    .popover .item{
        border-left: none;
        border-right: none;
        padding: 10px;
    }
</style>
<ion-view view-title="订单预约">
    <ion-header-bar></ion-header-bar>
    <ion-content overflow-scroll='false'>
        <div class="weui-cells weui-cells_form wechat-top">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">用户名称(全称)</label></div>
                <div class="weui-cell__bd">
                    <span>{{formData.name}}</span>
                </div>
            </div>
            <div class="weui-cell" ng-click="openBranch($event)">
                <div class="weui-cell__hd"><label for="" class="weui-label">维修公司名称</label></div>
                <div class="weui-cell__bd">
                    <span>{{formData.defaultGroupName}}</span>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">联系人</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" ng-model="$parent.formData.linkName">
                </div>
                <i class="icon ion-ios-star wechat-icon"></i>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">联系人电话</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" ng-model="$parent.formData.linkPhone">
                </div>
                <i class="icon ion-ios-star wechat-icon"></i>
            </div>
            <div class="weui-cell" ng-click="openPop($event, 'ktbm_ktpp')">
                <div class="weui-cell__hd"><label for="" class="weui-label">空调品牌</label></div>
                <div class="weui-cell__bd">
                    <span style="font-size: 13px;">{{$parent.formData.brand}}</span>
                </div>
                <i class="icon ion-ios-star wechat-icon"></i>
            </div>
            <div class="weui-cell" ng-click="openPop($event, 'ktbm_ktjx')">
                <div class="weui-cell__hd"><label for="" class="weui-label">空调机型</label></div>
                <div class="weui-cell__bd">
                    <span style="font-size: 13px;">{{$parent.formData.machineType}}</span>
                </div>
                <i class="icon ion-ios-star wechat-icon"></i>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">机组型号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" ng-model="$parent.formData.machineGroup">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">机内编号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" ng-model="$parent.formData.machineInnerType">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">外机编号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" ng-model="$parent.formData.machineOuterType">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">故障现象</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" ng-model="$parent.formData.malfunction">
                </div>
            </div>
        </div>
        <div class="weui-cells_form" style="margin-top: 0;background-color: #FFFFFF;font-size: 17px;position: relative">
            <c-photo output="$parent.formData.fileIds"></c-photo>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-footer button-bar" style="height: 50px;background: #f5f5f5;">
        <button class="button button-positive" ng-click="confim(formData)">确定</button>
    </ion-footer-bar>
</ion-view>
<script id="branchs.popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-content>
            <div class="list">
                <a href="javascript:;" class="item" ng-repeat="item in branches track by $index" ng-click="setBranch(item, 'defaultGroup')">
                    {{item.name}}
                </a>
            </div>
        </ion-content>
    </ion-popover-view>
</script>

