<ion-view view-title="下单">
    <ion-content overflow-scroll='false'>
        <div class="weui-cells weui-cells_form" style="margin-top: 15px;">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">用户名称(全称)</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text">
                </div>
                <i class="weui-icon-safe-warn">★</i>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">联系人</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text">
                </div>
                <i class="weui-icon-safe-warn">★</i>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">空调机型</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2">
                        <option value="1">商用空调机1</option>
                        <option value="2">商用空调机2</option>
                        <option value="3">商用空调机3</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">空调品牌</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2">
                        <option value="1">格力中央空调1</option>
                        <option value="2">格力中央空调2</option>
                        <option value="3">格力中央空调3</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">机组型号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">故障现象</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text">
                </div>
            </div>
        </div>
        <div class="weui-cells_form" style="margin-top: 0;background-color: #FFFFFF;font-size: 17px;position: relative">
            <c-photo></c-photo>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-footer button-bar" style="height: 50px;border-top-width: 0;">
        <button class="button button-positive" style="font-size: inherit;font-weight: 450;">提 交</button>
    </ion-footer-bar>
</ion-view>
