<ion-view view-title="个人中心">
    <ion-content overflow-scroll='false'>
        <div class="weui-cells">
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-person"></i>
                ID：Jwer12YK77
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <span>名字</span>
                </div>
                <div class="weui-cell__ft">沈浩瀚先生</div>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <span>电话</span>
                </div>
                <div class="weui-cell__ft">15815154512</div>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <span>所属单位</span>
                </div>
                <div class="weui-cell__ft">江苏浩瀚科技有限公司</div>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <span>所在城市</span>
                </div>
                <div class="weui-cell__ft">南京市</div>
            </a>
            <a class="weui-cell weui-cell_access" href="#/bonus">
                <div class="weui-cell__bd">
                    <span>我的积分</span>
                </div>
                <div class="weui-cell__ft">1318积分</div>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <span>我的地址</span>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <span>用户反馈</span>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>
    </ion-content>
</ion-view>
