<ion-view view-title="二维码">
    <ion-content overflow-scroll='false'>
       <div style="padding: 10px;text-align:center;background: #fff;">
           <div style="border: 1px solid #e5e5e5;height: 80px;width: 80px;border-radius: 50%;display: inline-block;position: relative;">

           </div>
           <p>更改头像</p>
           <p>ID：Jwer12YK77</p>
       </div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="名字更改">
                </div>
            </div>
        </div>
        <div style="width: 200px;height: 200px;background:yellowgreen;margin: 0 auto;margin-top: 20px;">

        </div>
    </ion-content>
</ion-view>
