<ion-view view-title="评价">
    <ion-header-bar class="bar-positive" align-title="center">
        <div class="buttons">
            <button class="button">取消</button>
        </div>
        <h5 class="title">订单编号: KSDJF555</h5>
        <div class="buttons">
            <button class="button">发表</button>
        </div>
    </ion-header-bar>
    <ion-content >
        <section class="item">
            <p>维修公司名: 江苏浩瀚技术有限公司</p>
            <p>派遣维修人员: 王申 <i class="ion-ios-star" style="color: #ff363a;"></i>
                <i class="ion-ios-star" style="color: #ff363a;"></i>
                <i class="ion-ios-star" style="color: #ff363a;"></i>
                <i class="ion-ios-star" style="color: #ff363a;"></i>
                <i class="ion-ios-star" style="color: #4d4d4d;"></i>
            </p>
        </section>
        <div class="weui-flex item" style="margin-top: 8px;">
            <div class="weui-flex__item">
                <h3>派遣维修人员信息</h3>
                <p>名字: 王申</p>
                <p>工作经验: 7年</p>
                <p>所属公司: 江苏格力空调有限公司分部</p>
                <p>星评:
                    <c-mark mark="rated"></c-mark>
                </p>
            </div>
            <div class="weui-flex__item">
                <img src="./img/adam.jpg" width="100%" alt="">
            </div>
        </div>
        <div class="list" style="margin-top: 8px;">
            <label class="item item-input">
                <textarea class="weui-textarea" placeholder="反馈意见" rows="4"></textarea>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-footer button-bar" style="height: 50px;border-top-width: 0;">
        <button class="button button-positive" style="font-size: inherit;font-weight: 450;">提 交</button>
    </ion-footer-bar>
</ion-view>

