<ion-view view-title="服务">
    <ion-content overflow-scroll='false'>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">服务地址</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2">
                        <option value="1">服务地址1</option>
                        <option value="2">服务地址2</option>
                        <option value="3">服务地址3</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">服务开始时间</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="date" value="">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">服务结束时间</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="date" value="">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
