<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <button class="button button-icon icon ion-ios-close-empty" ng-click="closeModal()"></button>
        <h1 class="title">填写服务信息</h1>
        <button class="button button-clear" ng-click="addressAdd()" >添加地址</button>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">服务地址</label>
                </div>
                <select class="weui-select" ng-options="item as item.address for item in adrOpts" ng-model="$parent.formData.address"></select>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">服务开始时间</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="datetime-local" ng-model="$parent.formData.serveBeginTime">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">服务结束时间</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="datetime-local" ng-model="$parent.formData.serveEndTime">
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-footer button-bar" style="height: 50px;background: #f5f5f5;" >
        <button class="button button-positive" ng-click="submit(formData)">提交</button>
    </ion-footer-bar>
</ion-modal-view>