<style>
    nav{
        width: 100%;height: 40px;
    }
    nav > ul{
        width: 100%;height: 40px;line-height: 40px;
        background: #e6e6e6;
    }
    nav > ul > li{
        list-style: none;
        float: left;
        color: #333;
        text-align: center;
        line-height: 40px;
        width: 50%;
    }
</style>
<ion-view view-title="积分兑换">
    <ion-content overflow-scroll='false'>
        <nav>
            <ul>
                <li><span>{{points}} 积分</span></li>
                <li ng-click="getExchangeRecord()">兑换记录</li>
            </ul>
        </nav>
        <div class="weui-panel weui-panel_access wechat-top">
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg" ng-click="item.flag =! item.flag" ng-repeat="item in list track by $index">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb {{item.flag?'selected':''}}" src="{{item.url}}" err-src="img/ware1.png" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <span class="weui-media-box__title">{{item.name}}</span>
                        <p style="float: right;font-size: 12px;white-space: nowrap;" ng-if="item.type==1">可兑换</p>
                        <p style="font-size: 12px;white-space: nowrap;" ng-if="item.type==2">有效期: {{item.beginTime|date:'MM-dd HH:mm:ss'}}-{{item.endTime|date:'MM-dd HH:mm:ss'}}</p>
                        <p class="weui-media-box__desc">{{item.des}}</p>
                        <span style="color: #6b6b6b;font-size: 14px;">剩余数量<strong style="margin-left: 2px;">{{item.amount?item.amount:0}}</strong></span>
                        <span style="float: right;color: #6b6b6b;font-size: 14px;">{{item.point}}<small style="margin-left: 2px;">积分</small></span>
                    </div>
                </a>
                <ion-infinite-scroll icon="ion-loading-c" ng-if="getFlagInfinite()" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-footer button-bar" style="height: 50px;border-top-width: 0;">
        <button class="button button-positive" ng-click="fillInfo(list)">填写收货信息</button>
    </ion-footer-bar>
</ion-view>
