<ion-view view-title="我的积分">
    <ion-content overflow-scroll='false'>
        <div class="weui-cells wechat-top">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <i class="icon ion-social-skype wechat-bonus-left"></i>
                </div>
                <div class="weui-cell__bd">
                    <span>我的积分</span>
                </div>
                <div class="weui-cell__ft" style="font-size: 14px;"><strong>{{point}}</strong> <small>积分</small></div>
            </div>
            <a class="weui-cell" href="javascript:;" ng-click="showRecord()">
                <div class="weui-cell__hd">
                    <i class="icon ion-android-list wechat-bonus-left"></i>
                </div>
                <div class="weui-cell__bd">
                    <span>积分记录</span>
                </div>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <a class="weui-cell" href="#/exchange">
                <div class="weui-cell__hd">
                    <i class="icon ion-social-usd wechat-bonus-left"></i>
                </div>
                <div class="weui-cell__bd">
                    <span>积分兑换</span>
                </div>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
